use_flake() {
	watch_file flake.nix
	watch_file flake.lock
	watch_file package.json
	watch_file yarn.lock
	watch_file .yarnrc.yml
	eval "$(nix print-dev-env --profile "$(direnv_layout_dir)/flake-profile")"
}

use flake
dotenv_if_exists
